body{
  margin: 0;
}

ul{
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: pink;
  top: 0%;
  
}

li{
  display: inline;
  float: right;
  overflow: hidden;
  position:right;
}

li a{
  display: block;
  text-decoration: none;
  padding: 15px 40px;
  color: white;
  font-size: 25px;
  
}



a:hover{
  background: #fff387;
}


p{
 font-family: 'Courier New', monospace;
 font-size: 50px;
 color: purple;
}
