body, html {
  height: 100%;
  margin: 0;
  background-color: #FAEDE0;
  z-index: -10;
  position: relative;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color: #999999;
  display: block;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
  cursor: pointer;
}

.sidepanel a:hover {
  color: white;
  letter-spacing: 4px; 
}

.sidepanel .closebtn {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 33px;
  padding: 35px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: black;
  padding: 40px 40px;
  border: none;
  float: right;
  background-color: transparent;
}

.hero-image {
  background-image: url("https://i.pinimg.com/originals/1b/e8/d4/1be8d4cb4872b31d32f39341c0af47f8.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.heroh1{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  font-weight: 50;
  font-size: 5vw;
  margin: 0px;
  padding: 0px;
}

h2{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  font-weight: 50;
  font-size: 1.7em;
  margin-left: 10%;
  margin-right: 10%;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
}

.herop{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  font-size: 1.4vw;
  padding-bottom: 10px;
}

.ticketitem {
  background-color: #CFDEDF;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
}

.ticketwrapper{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  border: none;
  margin-left: 10%;
  margin-right: 10%;
}

.attractionwrapper{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  border: none;
  margin-left: 10%;
  margin-right: 10%;
}

.attractionitem{
  background-color: #ffe59e;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0px 4px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0px 4px;
}

.column img {
  margin-top: 50px;
  vertical-align: middle;
  width: 100%;
}

h3{
  font-size: 20px;
  font-weight: 70;
  letter-spacing: 3px;
  font-family: 'Bebas Neue', cursive;
}

.buynow{
  background-color: #E3A8A1;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2.5px;
  font-weight: 20;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.buynow:hover {
  background-color: #DE9991;
}

.smallerp{
  font-size: 12px;
  font-family: Trebuchet MS;
}

#topbutton {
  display: none;
  position: fixed;
  bottom: 1%;
  right: 1%;
  border: none;
  background-color: #CFDEDF;
  padding: 1vw;
  font-size: 16px;
  border-radius: 5px;
  width: 5%;
}

#topbutton:hover{
  background-color: #C2D4D6;
}

.arrowup{
  width: 100%;
}

.aboutitem {
  background-color: #D4E3D9;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
}

.aboutwrapper{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  border: none;
  margin-left: 10%;
  margin-right: 10%;
}

.aboutimg{
  max-width: 100%;
  padding-top: 20px;
}

.footer{
  background-color: #111;
  padding: 2vw;
}

.footer p{
  text-align: center;
  color: #999999;
  transition: 0.4s;
}

.footer p:hover{
  color: white;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .aboutwrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
  }  

  .ticketwrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #topbutton {
    display: none;
    position: fixed;
    bottom: 1%;
    right: 1%;
    border: none;
    background-color: #CFDEDF;
    padding: 1vw;
    font-size: 16px;
    border-radius: 5px;
    width: 8%;
  }
  
  .attractionwrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    border: none;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  h2{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-weight: 50;
    font-size: 1.7em;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .heroh1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-weight: 50;
    font-size: 8vw;
    margin: 0px;
    padding: 0px;
  }
  
  .herop{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    font-size: 3vw;
    padding-bottom: 10px;
  }
  
}
